<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        html,
        body {
            background: #eee;
        }

        #app {
            width: 100%;
            max-width: 600px;
            margin: auto;
            background: #fff;
            padding: 0 10px;
        }

        .bottom {
            width: 100%;
            max-width: 600px;
            position: fixed;
            right: 0;
            bottom: 20px;
            left: 0;
            margin: auto;
        }
    </style>
</head>

<body>
    <div id="app">
        <header style="text-align: right;">
            <template v-if="mid">
                <a href="/app/member.html">{{nickname || '游客'}}</a>
                <span @click="logout">退出</span>
            </template>
            <a v-else href="/app/login.html">登录</a>
        </header>
        <ul>
            <li v-for="(item, index) in list" :key="index">
                <p>{{item.content}}</p>
                <p><small>{{item.update_time}}</small></p>
            </li>
        </ul>
        <div class="bottom">
            <textarea v-model="content" cols="30" rows="4" style="display: block;width: 100%;"></textarea>
            <button @click="sub" style="display: block;width: 100%;">提交</button>
        </div>
    </div>

    <script src="/assets/dist/jquery/jquery-1.11.1.min.js"></script>
    <script src="/assets/dist/jquery/jquery.cookie.js"></script>
    <script src="/assets/dist/vue/vue.min.js"></script>
    <script src="/assets/js/common.js"></script>
    <script>
        $(function () {
            new Vue({
                el: '#app',
                data() {
                    return {
                        list: [],
                        page: 1,
                        pageSize: 10,
                        content: '',
                        mid: 0,
                        nickname: ''
                    }
                },
                mounted() {
                    this.setMember();
                    this.getData();
                },
                methods: {
                    setMember() {
                        var member = checkLogin();
                        if (!member) {
                            this.mid = 0;
                            return;
                        }
                        this.mid = member.id;
                        this.nickname = member.nickname;
                    },
                    getData(reload) {
                        if (reload == 1) {
                            this.list = [];
                            this.page = 1;
                            this.loading = false;
                            this.finished = false;
                        }
                        if (this.loading || this.finished) return;
                        this.loading = true;
                        request.get('liuyanban/list', {
                            page: this.page,
                            pageSize: this.pageSize
                        }).done((res) => {
                            this.loading = false;
                            if (res.status == 1) {
                                var data = res.data || [];
                                this.list.push.apply(this.list, data);
                                if (this.pageSize == data.length) {
                                    this.list.push.apply(this.list, data);
                                    this.page++;
                                } else {
                                    this.finished = true;
                                }
                            } else {
                                alert(res.message)
                            }
                        })
                    },
                    sub() {
                        var token = $.cookie('TOKEN');
                        if (!token) {
                            return alert('请先登录');
                        }
                        if (!this.content) return;
                        request.post('liuyanban/add', {
                            content: this.content
                        }).done((res) => {
                            if (res.status == 1) {
                                this.getData(1);
                                this.content = '';
                            } else {
                                alert(res.message)
                            }
                        })
                    },
                    logout() {
                        let s = confirm('确认退出？');
                        if (!s) return;
                        $.removeCookie('TOKEN');
                        $.removeCookie('TOKEN');
                        storage.remove('MEMBER');

                        this.setMember();
                        this.getData(1);
                    }
                }
            })
        })
    </script>
</body>

</html>